.counter_btn{
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    font-size: 30px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

.counter_container{
    font-size: 30px;
    margin-top: 10px;
}