@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo img {
  width: 160px;
  height: 80px;
}
.header-links {
  display: flex;
  gap: 50px;
  color: #fff;
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.header-link:hover {
  color: #f2be4e;
}
.header-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #f2be4e;
  transition: width 0.3s;
}

.header-link:hover::after {
  width: 100%;
}
.header {
  box-shadow: 0 0 15px #fff9;
  background-color: rgb(0, 0, 0);
}

.header-links ::selection {
  background-color: #bc955d;
}
.responsive-menu {
  display: none;
}

@media screen and (max-width: 720px) {
  .responsive-menu {
    display: flex;
  }
  .header-links {
    display: none;
  }
}

*::selection {
  background-color: #bc955d;
  color: rgb(0, 0, 0);
}
