@import url(https://fonts.googleapis.com/css?family=Comfortaa:300,regular,500,600,700);

.news-block{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}

.news-title h2{
    color: #212529;
    font-family: 'Comfortaa',sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
}
.news-title h3{
    color: #212529;
font-family: 'Comfortaa',sans-serif;
font-size: 16px;
font-style: normal;
font-weight: 400;
}

@media screen and (max-width:790px) {
    .news-block{
        text-align: center;
        flex-direction: column;
    }
    .news-title{
        text-align: center;
    }
}
@media screen and (max-width:500px) {
   .news-title h2{
    font-size: 20px;
   }
   .news-title h3{
    font-size: 10px;
   }
}