.slide-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}
.slider{
    margin-top: 50px;
    margin-bottom: 50px;
}
.glav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home-main{
background-image: url('../../assets/background.jpeg');
    background-repeat: no-repeat;
background-size: cover;
width: 100vw;
height: auto;
}
.cards{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.glav{
    margin-top: 100px;
}
.cards::-webkit-scrollbar{
    display: none;
}


/*responsive*/

@media screen and (max-width:1530px) {
    .cards{
        display: flex;
        flex-wrap: wrap;
    }
}
@media screen and (max-width:970px) {
    .cards{
        display: flex;
        overflow: hidden;
        overflow: scroll;
    }
}