.contacts_contacts_wrapper__VKMAK .contacts_contacts__E9FbG .contacts_left__8Nvux .contacts_info_wrapper__vknf_ {
    width: 100%;
    border-radius: 4px;
    padding: 32px;
    background-color: #fff;
}