.slide-img img{
    width: 100%;
    height: 440px;
    object-fit: cover;
    background-position: center;
    border-radius: 12px;
}
.slider{
    border: 1px solid gold;
    border-radius: 12px;
}
.with-logo{
    object-fit: cover;
    background-color: #fff;
    background-position: center;
}